* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: var(--g-ui-bg);
}

#app {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.g-ui-icon {
  font-family: 'Material Symbols Outlined';
}

.wellcome {
  color: #ff6347;
  background-image: linear-gradient(to right, rgb(231, 145, 7), darkorchid, rgb(231, 145, 7));
  background-size: 200% auto; /* Faz o background ser o dobro do tamanho para permitir movimento */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 400px;
  font-size: 70px;
  font-weight: 900;
  
  /* Chama a animação */
  animation: gradient-move 2s linear infinite;
}

/* Define o movimento da direita para a esquerda */
@keyframes gradient-move {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}